<div class="mt-4 w-75 container">
    {{!-- {{#each courses}} --}}
    <h3 class="text-info">{{item.name}}</h3>
    <form class="mt-4" method="POST" action="/items/{{item._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên sản phẩm</label>
            <input type="teaxt" class="form-control" value="{{item.name}}" id="name" name = "name">
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" class="form-control" value="{{item.description}}" id="description" name = "description">
        </div>

        <div class="form-group">
            <label for="loai">Loại sản phẩm</label>
            <div class="input-group">
            <select class="custom-select" id="loai" name = "loai"data-value="{{item.loai}}">
                <option value="Thời trang nam" >Thời trang nam</option>
                <option value="Điện thoại và phụ kiện">Điện thoại và phụ kiện</option>
                <option value="Thiết bị điện tử">Thiết bị điện tử</option>
                <option value="Máy tính và lattop">Máy tính và lattop</option>
                <option value="Giày dép">Giày dép</option>
                <option value="Thiết bị điện tử gia dụng">Thiết bị điện tử gia dụng</option>
                <option value="Balo và túi ví nam, nữ">Balo và túi ví nam, nữ</option>
                <option value="Đồ chơi">Đồ chơi</option>
                <option value="Giặt giũ và chăm sóc nhà cửa">Giặt giũ và chăm sóc nhà cửa</option>
                <option value="Thời Trang Nữ">Thời Trang Nữ</option>
                <option value="Nhà sách online">Nhà sách online</option>
                <option value="Phụ kiện và trang sức">Phụ kiện và trang sức</option>
                <option value="Sức khoẻ">Sức khoẻ</option>
                <option value="ôtô, xe máy, xe đạp">ôtô, xe máy, xe đạp</option>
                <option value="Đồng hồ">Đồng hồ</option>
                <option value="Đồ dùng trẻ em">Đồ dùng trẻ em</option>
                <option value="Chăm sóc sắc đẹp">Chăm sóc sắc đẹp</option>
                <option value="Bách hoá online">Bách hoá online</option>
                <script>
                    let loaioption = document.querySelector(".custom-select")
                    loaioption.value = loaioption.getAttribute("data-value")
                </script>
            </select>
            </div>
        </div>

        <div class="form-group">
            <label for="img">link img</label>
            <input type="text" class="form-control" value="{{item.img}}" id="img" name = "img">
        </div>
        <div class="form-group">
            <label for="gia">Đơn giá</label>
            <input type="text" class="form-control" id="gia" name = "gia" value="{{item.gia}}">
        </div>
        <div class="form-group">
            <label for="soluong">Số lượng</label>
            <input type="text" class="form-control" id="soluong" name = "soluong"value="{{item.soluong}}">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
         <a href="/me/stored/items" class="btn btn-secondary text-light">Trở lại</a>
    </form>
    {{!-- {{/each}} --}}
</div>


