<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<header id="header_nav" style="width: 100%;  background-image: linear-gradient(0, #fe6433, #f53e2d);">
    <div class="container" style="height: 100%">
        <div class="d-flex justify-content-between">
            <div class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse form-Search ml-4" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link hover" href="/">Home</a>
                        </li>
                        <li class="nav-item active nav-link ">Tải ứng dụng</li>
                        
                        <li class="nav-item active nav-link d-flex justify-content-between"style="padding:9px">
                            <div class="mr-1">Kết nối</div>
                            <a class="mr-1" href="https://www.facebook.com/"><i class="ti fa-brands fa-facebook "></i></a>
                            <a class="" href="https://mail.google.com/" ><i class="ti fa-brands fa-google " ></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse form-Search ml-4" id="navbarSupportedContent">
                    <ul id="navUser" class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link hover" href="/">Thông báo</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link hover" href="/">Hỗ trợ</a>
                        </li>
                        <script>
                            let navUser =document.getElementById("navUser")
                            let aUserName = "{{data.username}}"
                            if(aUserName ==="false"){
                                navUser.innerHTML = navUser.innerHTML+`<li class="nav-item active nav-link hover">
                                                                            <a class="" href="/auth/signup">Đăng ký</a>
                                                                        </li>
                                                                        <li class="nav-item active nav-link hover">
                                                                            <a class="" href="/auth/login">Đăng nhập</a>
                                                                        </li>`
                            }
                            else{
                                navUser.innerHTML = navUser.innerHTML+`<li class=" nav-item active liUserName " >
                                                                            <strong class="aUserName hover">{{data.username}}</strong>
                                                                            <div id="headerUserName" class="header__notify"></div>
                                                                        </li>`
                            }
                        </script>
                    </ul>
                </div>
            </div>
        </div>
        <div class="collapsenavbar-collapse w-100 d-flex justify-content-between ">
            <a href="/">
                <i class="fa-solid fa-bag-shopping" style="color: #fff; font-size:48px"></i>
            </a>
            <a href="/" class="a-header">
                <h1 class="mt-1 mb-1 ml-3" style="color: #fff;">Dalziel</h1>
            </a>
            <form class="form-inline collapsenavbar-collapse w-100 mt-1 ml-5 mb-3" style="position: relative;"action="/search" method="GET" >
                <input id="id-form-search"  name ="q" class="form-control collapsenavbar-collapse w-75"style=" height: 40px;font-size:1.1rem;"autocomplete="off"  type="text" placeholder="Search" aria-label="Search">
                <div id="idSuggestion" class ="suggestion displayNone" style="position: absolute; top: 40px; left:-24%;right:1%;width: 74.8%;">
                    <div class="nav-suggestion" >
                        <li id="header-suggestion" class="para-suggestion background-ddd"></li>
                    </div>
                    <div style="overflow: scroll !important;;max-height: 300px;">
                        <section id="ul-Suggestion" class="m-0 p-0"></section>
                    </div>
                </div>

                <button type="submit" id="button-search" class="btn btn-outline-danger border border-white ml-2"style="border: 2px;height: 40px; color: #fff; font-size: 0.8rem">Search</button>
            </form>
            <div class="mt-3 d-flex justify-content-between">
                <a href="/buy/cart" class="font-buy hover  mr-3">
                    <i class="fa-solid fa-cart-shopping ml-3" style="font-size: 1.6rem"></i>
                </a>
                <div id="font_user" class="font-buy ml-1"style="cursor: pointer; ">
                     
                    <div id="font_user--header" class="header__notify"></div>  
                    <script>
                            let font_User =document.getElementById("font_user")
                            let UserName = "{{data.username}}"
                            if(aUserName ==="false"){
                                font_User.innerHTML = font_User.innerHTML+`<li class="nav-item active nav-link hover">
                                                                            <i class="fa-regular fa-user" style="font-size: 1.6rem;margin-top:-12px"></i>
                                                                        </li>
                                                                        `
                            }
                            else{
                                font_User.innerHTML = font_User.innerHTML+`<li class="nav-item active liUserName"style="margin-top:-2px">
                                                                                <a class="hover aUserName " >{{data.username}}</a>
                                                                                <div id="font_user--header" class="header__notify"></div>
                                                                            </li>`
                            }
                    </script>         
                </div>
            </div>
        </div>
        
    </div>      
</header>
<style>
    
    @media only screen and (min-width:992px) {
        #font_user{
            display: none;
        }
        .header__notify{
            right: 4%;
        }
    }

    .header__notify{
            position: absolute;
            width: 200px;
            top: 80%;
            background-color: white;
            border: 1px solid #d3d3d3;
            transform-origin:  calc(100% - 30px) top ;
            -moz-animation: headerNotifyGrowth ease-in .25s;
            -o-animation: headerNotifyGrowth ease-in .25s;
            -ms-animation: headerNotifyGrowth ease-in .25s;
            -webkit-animation: headerNotifyGrowth ease-in .25s;
            animation: headerNotifyGrowth ease-in .25s;
            will-change: opacity, transform;
            display: none;
            padding: 0;
            z-index: 1000;
        }
    .header__notify-list{
        padding: 0;
        margin: 0;
    }
    .aUserName:first-letter {
        text-transform: capitalize
    }
    .aUserName{
        text-decoration: none;
    }

    .header__notify::before{
        content: '';
        border-width: 12px 30px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        right: 20px;
        top: -22px;
    }
    .header__notify::after{
        content: '';
        position: absolute;
        width: 86px;
        height: 30px;
        right: -1px;
        top: -20px;
    }
    .nav-link, .nav-link a {
        color: white;
        text-decoration: none;
        font-size: 0.9rem; }

    .nav-link a:hover {
        color: rgba(255, 255, 255, 0.432);
        text-decoration: none; 
    }
    @keyframes headerNotifyGrowth{
        from{
            opacity: 0;
            transform: scale(0);
        }
        to{
            opacity: 1;
            transform: scale(1);
        }
    }
    #font_user:hover .header__notify,.liUserName:hover .header__notify{
        display: block;
    }
    .header__notify-link{
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1rem; 
        padding: 8px 20px;
        margin: 0;
        z-index: 100;
    }

    .header__notify-item:hover {
        background-color: #ebebeb;

    }
    .header__notify-link:hover{
        text-decoration: none;
        color: black;
    }
</style>
<style>
    .displayNone{
        display: none;
    }
    
    .aUserName{
        font-weight: 700;
        font-size: 100%;
        margin: 0px 24px;
        padding:0px;
        cursor: pointer;
        text-decoration: none;
    }
    .liUserName::first-letter{
        
        text-transform: capitalize;

    }
    #liUserName2::first-letter{
        
        text-transform: capitalize;

    }
    .liUserName{
        margin-top: 6px;

    }
</style>



<form id="formLogOut" action="/auth/logout" method="POST"></form>
{{!-- script header__notify-link --}}
<script>
    let fontUserHeader =document.getElementById("font_user--header")
    let headerUserName = document.getElementById("headerUserName");
    let role ={{data.role}}
    if(role===0){
        let d =`
                <ul class="header__notify-list">
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/auth/login" class="header__notify-link">Đăng nhập</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/auth/signup" class="header__notify-link">Đăng ký</a>
                    </li>
                </ul>` 
        fontUserHeader.innerHTML=d 
    }
    else if (role===1){
        let a=  `
                <ul class="header__notify-list">
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/auth/user" class="header__notify-link">Tài khoản</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/buy/cart" class="header__notify-link">Giỏ hàng của tôi</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <p class="logout header__notify-link" style="cursor: pointer;">Đăng xuất</p>
                    </li>
                </ul>   `
        headerUserName.innerHTML=a
        fontUserHeader.innerHTML=a
    }
    else if(role===2){
        let b =`
                <ul class="header__notify-list">
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/auth/user" class="header__notify-link">Tài khoản</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="" class="header__notify-link">Quản lý đơn hàng</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <p  class="logout header__notify-link" style="cursor: pointer;">Đăng xuất</p>
                    </li>
                </ul>   `
        headerUserName.innerHTML=b
        fontUserHeader.innerHTML=b
    }
    else if(role===3){
        let c =`
                <ul class="header__notify-list">
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/auth/user" class="header__notify-link">Tài khoản</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="" class="header__notify-link">Quản lý đơn hàng</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/users/list-users" class="header__notify-link">Danh sách Account</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <a href="/me/stored/items" class="header__notify-link">Danh sách sản phẩm</a>
                    </li>
                    <li class="header__notify-item header__notify-item--viewed">
                        <p  class="logout header__notify-link" style="cursor: pointer;">Đăng xuất</p>
                    </li>
                </ul>` 
        headerUserName.innerHTML=c
        fontUserHeader.innerHTML=c 
    }
    let formLogOut = document.getElementById("formLogOut")
    let logout =document.getElementsByClassName("logout");
    logout[0].onclick = function(e) {
        formLogOut.submit()
    }
    logout[1].onclick = function(e) {
        formLogOut.submit()
    }
</script>
<style>
    #id-form-search {
        border: 1px solid #ccc;
        padding: 10px;
        font: 1.5em 'Arimo', sans-serif;
        width: 50%;
        outline: none;
        transition: border 0.5s ease-in-out
    }
    #id-form-search:focus {
        border-top-color: rgba(0,0,0,0);
        border-left-color: rgba(0,0,0,0);
        border-right-color: rgba(0,0,0,0);
    }
    #keyword-button {
        position: absolute;
        right: 26%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.7em;
        color: #8DB9ED
    }
    #keyword-button:hover {
        color: #ccc
    }
    .filter-select {
        width: 75%;
        list-style: none;
        font-size: 1.1em;
        color: rgb(105,105,105);
        border: 1px solid #ccc;
        border-top: none;
        /*so things don't jump around*/
        position: absolute;
        left: 0%;
        /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
        top: calc(50% + 25px);
        /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
        max-height: calc(400% - 15px);
        overflow-y: auto;
        background: #fff
    }
    .filter-select-list {
        cursor: pointer;
        padding: 5px 10px;
    }
    .filter-select-list:hover {
        background: #fafaf8;
        color: black;
    }
    .no-value {
        border: none
    }
    .list-highlight, .list-highlight:hover {
        background: #fafaf8;
        color: black;
    }
        /*some simple responsive designs*/
    @media only screen and (max-width: 768px) { 
        .filter-select, #id-form-search {
            width: 80%;
        }
        #id-form-search {
            font-size: 1.3em
        }
        .filter-select {
            font-size: 0.9em;
            left: 10%;
            top: calc(50% + 23px);
        }
        #keyword-button {
            right: 11%
        }
    }
    @media only screen and (max-width: 480px) {
        
        .filter-select, #id-form-search {
            width: 95%;
        }
        .filter-select {
            left: 2.5%;
        }
        #keyword-button {
            right: 3.5%
        }
    }
</style>


</script>


<script>
    let formSearch = document.getElementById("id-form-search")
    let suggestion = document.getElementById("idSuggestion")
    let ulSuggestion = document.getElementById("ul-Suggestion")
    let liSuggestion = document.getElementsByClassName("li-suggestion")
    let aSuggestion = document.getElementsByClassName("a-suggestion")
    //let data = '/danhsachItem/danhsachItem/items'
    $.ajax({
        type: "GET",
        url: "/danhsachItem/danhsachItem/items",
        success: (posts) => {
            let list_img;
            var htmls = posts.map((post)=>{
                
                return `<li class="li-suggestion para-suggestion suggestion-hover">
                            <a href="/items/${post.name}" class="textcolor-black a-suggestion" style="display:block; text-decoration:none">
                                <img src="${post.img}" alt=""style="width:50px;height:50px">
                                ${post.name}
                            </a>
                        </li>`

            }).join("");
            ulSuggestion.innerHTML=htmls
        },
        error: function (xhr, ajaxOptions, error) {
            alert(xhr.responseText);
        },
        cache: false,
        contentType: "application/json",
        processData: false,
    });
    /*fetch(data)
        .then(function (response){
            return response.json();
        })
        .then(function (posts){
            var htmls = posts.map((post)=>{
                
                return `<li class="li-suggestion para-suggestion suggestion-hover">
                            <a href="/items/${post.name}" class="textcolor-black a-suggestion" style="display:block; text-decoration:none">
                                <img src="${post.img}" alt=""style="width:50px;height:50px">
                                ${post.name}
                            </a>
                        </li>`

            }).join("");
            ulSuggestion.innerHTML=htmls
        })
        .catch(function(err){
			console.log('“có lỗi”')
		})*/
    formSearch.onkeyup = function(e) {
        let valueFormSearch=e.target.value;
        let paraSuggestion = document.getElementById("header-suggestion")
        paraSuggestion.innerHTML ='Tìm kiếm từ khoá "'+valueFormSearch+'"'
        let i=0
        for(let value of aSuggestion){
            if(!value.innerText.toLowerCase().includes(valueFormSearch.toLowerCase())){
                liSuggestion[i].classList.add("displayNone")
            }
            else{
                liSuggestion[i].classList.remove("displayNone")
            }
            i++
        }

        if(valueFormSearch===""){
            suggestion.classList.add('displayNone')
        }
        else{
            suggestion.classList.remove('displayNone')
        }
    }

</script>