<div class="mt-5 " style="padding-top:30px">
    <div class="card card-courses-item">
        <h5 class="m-3" style="color: rgb(149, 147, 147);">DANH MỤC</h5>
        <div class="row m-0" id="listdanhmuc">
            <div id="PageNavigation"></div>
        </div>
    </div>
</div>

<script src="/js/danh-muc.js"></script>

<script>
    
    const listdanhmuc = danhmuc.map(e=>`
            <div class="col-1 p-0 m-0 " style="max-width:100%; ">
                <a href="/listItems/${e.desc}/show" style="color:black;text-decoration:none">
                    <div class="card danhmuchover">
                        <img class="card-img-top" style="width:124px;height:124px"
                            src="${e.img}" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0">
                            <p class="card-text">${e.desc}</p>
                        </div>
                    </div>
                </a>
            </div>`)
            $("#listdanhmuc").html(listdanhmuc)
</script>

<div class="mt-5 mb-5" style="max-width:99.9%; ">
    <div class="card card-courses-item" style="min-height:300px ">
        <h6 class="m-3" style="color: rgb(149, 147, 147);">DANH SÁCH SẢN PHẨM</h6>
        <div class="row " style="align-items:center;margin:0 6px">
            {{#each items}}
            <div class="col-1 p-0 " style="max-width:100%; margin-top:4px">
                <a href="/items/{{this.name}}" style="color:black;text-decoration:none" class="gia">
                    <div class="card sanphamhover " style="width:136px;height:250px; margin:0 2px">
                        <img class="card-img-top" style="width:132;height:120px; " src="{{this.img}}"
                            alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0 d-flex flex-column" style="position: relative;"> 
                            <h5 class="card-para" style="width: 100%;">
                                {{this.name}}</h5>
                            <p class="description" style="color: rgb(142, 138, 138);margin-bottom:16px;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box;">
                                {{this.description}}
                            </p>
                            <p class="gia" style="position: absolute;bottom:-15px;text-align: center; font-weight:500">Giá:
                                {{this.gia}}đ</p>
                        </div>
                    </div>
                </a>
            </div>
            {{else}}
            <h4 id="nullItem" class="text-center" style="margin-left: 400px; margin-top:50px">
                Chưa có sản phẩm nào được đăng
            </h4>
            {{/each}}
        </div>
        <nav id="navPage" style="margin:10px 0 0 0 ;" aria-label="Page navigation example">
            <ul id="ulPagination" class="pagination" style="margin:0; justify-content:center">
                <script>
                    let ulPagination = document.getElementById("ulPagination");
                    let pageLength = {{ pageLength }}// Math.ceil({{pageLength}}/16);
                    let currentPage = {{ currentPage }}

                    let html = `<li id="previous" class="page-item ">
                                    <a class="page-link" href="?page=`+ (currentPage - 1) + `#PageNavigation" tabindex="-1">
                                        <span aria-hidden="true" style="font-size: 16px;">&laquo;</span>
                                    </a>
                                </li>`;
                    for (let i = 0; i < pageLength; i++) {
                        html = html + `<li class="page-item liPageItem">
                                        <a class="page-link" href="?page=`+ (i + 1) + `#PageNavigation">` + (i + 1) + `</a>
                                    </li>`
                    }
                    html = html + `<li id="nextPage" class="page-item">
                                    <a class="page-link" href="?page=`+ (currentPage + 1) + `#PageNavigation">
                                        <span aria-hidden="true" style="font-size: 16px;">&raquo;</span>
                                    </a>
                                </li>`
                    ulPagination.innerHTML = html

                    let previous = document.getElementById("previous");
                    let nextPage = document.getElementById("nextPage");
                    if (pageLength === 1) {
                        previous.classList.add("disabled");
                        nextPage.classList.add("disabled");
                    }
                    else if (currentPage <= 1) {
                        previous.classList.add("disabled");
                    }
                    else if (currentPage >= pageLength) {
                        nextPage.classList.add("disabled");
                    }
                    else {
                        previous.classList.remove("disabled");
                        nextPage.classList.remove("disabled");
                    }
                    let liPageItem = document.getElementsByClassName("liPageItem")
                    liPageItem[currentPage - 1].classList.add("disabled")
                </script>
            </ul>
        </nav>
        <script>
            let nullItem = document.getElementById("nullItem");
            let navPage = document.getElementById("navPage");
            if (nullItem) {
                navPage.classList.add("displayNone");
            }
        </script>
        <style>
            .displayNone {
                display: none;
            }
        </style>
    </div>
</div>