<div class="mt-5 "style="padding-top:30px">
    <div class="card card-courses-item">
        <h5 class="m-3" style="color: rgb(149, 147, 147);">DANH MỤC</h5>
        <div class="row m-0"> 
            <div class="col-1 p-0 "style="max-width:100%;">
                <a href="/listItems/Thời trang nam/show"style="color:black;text-decoration:none;" value ="Thời trang nam">
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/687f3967b7c2fe6a134a2c11894eea4b_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Thời trang nam</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Điện thoại và phụ kiện/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/31234a27876fb89cd522d7e3db1ba5ca_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Điện thoại và phụ kiện</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Thiết bị điện tử/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/978b9e4cb61c611aaaf58664fae133c5_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Thiết bị điện tử</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Máy tính và lattop/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/c3f3edfaa9f6dafc4825b77d8449999d_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Máy tính và lattop</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Giày dép/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/74ca517e1fa74dc4d974e5d03c3139de_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Giày dép</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Thiết bị điện tử gia dụng/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/7abfbfee3c4844652b4a8245e473d857_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Thiết bị điện tử gia dụng</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Balo và túi ví nam, nữ/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/18fd9d878ad946db2f1bf4e33760c86f_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Balo và túi ví nam, nữ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Đồ chơi/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/c432168ee788f903f1ea024487f2c889_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Đồ chơi</p>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Giặt giũ và chăm sóc nhà cửa/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/cd8e0d2e6c14c4904058ae20821d0763_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Giặt giũ và chăm sóc nhà cửa</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Thời trang nữ/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/75ea42f9eca124e9cb3cde744c060e4d_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Thời trang nữ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Nhà sách online/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/36013311815c55d303b0e6c62d6a8139_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Nhà sách online</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Phụ kiện và trang sức/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/8e71245b9659ea72c1b4e737be5cf42e_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Phụ kiện và trang sức</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Sức khoẻ/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/49119e891a44fa135f5f6f5fd4cfc747_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Sức khoẻ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Ôtô, xe máy xe đạp/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/3fb459e3449905545701b418e8220334_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Ôtô, xe máy xe đạp</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Đồng hồ/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/86c294aae72ca1db5f541790f7796260_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Đồng hồ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Đồ dùng cho trẻ em/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/099edde1ab31df35bc255912bab54a5e_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Đồ dùng cho trẻ em</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Chăm sóc sắc đẹp/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/ef1f336ecc6f97b790d5aae9916dcb72_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Chăm sóc sắc đẹp</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-1 p-0 m-0 "style="max-width:100%; ">
                <a href="/listItems/Bách hoá online/show"style="color:black;text-decoration:none" >
                    <div class="card danhmuchover">
                        <img class="card-img-top"style="width:124px;height:124px"src="https://cf.shopee.vn/file/c432168ee788f903f1ea024487f2c889_tn" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0" >
                            <p class="card-text">Bách hoá online</p>
                        </div>
                    </div>
                </a>
            </div>
            <div id="PageNavigation"></div>
        </div>
    </div>
</div>



<div  class="mt-5 mb-5"style="max-width:99.9%; ">
    <div class="card card-courses-item"style="min-height:300px ">
        <h6 class="m-3" style="color: rgb(149, 147, 147);">DANH SÁCH SẢN PHẨM</h6>
        <div class="row "style="align-items:center;margin:0 6px">
            {{#each items}}
            <div class="col-1 p-0 "style="max-width:100%; margin-top:4px">
                <a href="/items/{{this.name}}" style="color:black;text-decoration:none" class="gia">
                    <div class="card sanphamhover " style="width:136px;height:250px; margin:0 2px">
                        <img class="card-img-top"style="width:134;height:120px; "src="{{this.img}}" alt="Card image cap">
                        <div class="card-body pl-2 pr-1 pb-2 pt-0 d-flex flex-column" >
                            <h5 class="card-para"style="min-height:40px"> {{this.name}} </h5>
                            <p style="color: rgb(142, 138, 138);min-height:40px">{{this.description}}</p>
                            <p class="gia" style="margin-bottom:14px; text-align: center; font-weight:500">Giá: {{this.gia}}đ</p>
                        </div>
                    </div>
                </a>
            </div>
            {{else}}
                <h4 id="nullItem" class="text-center" style="margin-left: 400px; margin-top:50px">
                Chưa có sản phẩm nào được đăng
                </h4>
            {{/each}}
        </div>
        <nav id="navPage"style="margin:10px 0 0 0 ;" aria-label="Page navigation example">
            <ul id= "ulPagination"class="pagination"style="margin:0; justify-content:center">
                <script>
                    let ulPagination = document.getElementById("ulPagination");
                    let pageLength ={{pageLength}}// Math.ceil({{pageLength}}/16);
                    let currentPage={{currentPage}}
                   
                    let html = `<li id="previous" class="page-item ">
                                    <a class="page-link" href="?page=`+(currentPage-1)+`#PageNavigation" tabindex="-1">
                                        <span aria-hidden="true" style="font-size: 16px;">&laquo;</span>
                                    </a>
                                </li>`;
                    for(let i = 0; i < pageLength; i++){
                        html = html+`<li class="page-item liPageItem">
                                        <a class="page-link" href="?page=`+(i+1)+`#PageNavigation">`+(i+1)+`</a>
                                    </li>`
                    }
                    html = html+`<li id="nextPage" class="page-item">
                                    <a class="page-link" href="?page=`+(currentPage+1)+`#PageNavigation">
                                        <span aria-hidden="true" style="font-size: 16px;">&raquo;</span>
                                    </a>
                                </li>`
                    ulPagination.innerHTML = html

                    let previous = document.getElementById("previous");
                    let nextPage = document.getElementById("nextPage");
                    if (pageLength===1){
                        previous.classList.add("disabled");
                        nextPage.classList.add("disabled");
                    }
                    else if (currentPage<=1){
                        previous.classList.add("disabled");
                    }
                    else if (currentPage>=pageLength){
                        nextPage.classList.add("disabled");
                    }
                    else{
                        previous.classList.remove("disabled");
                        nextPage.classList.remove("disabled");
                    }
                    let liPageItem = document.getElementsByClassName("liPageItem")
                    liPageItem[currentPage-1].classList.add("disabled")
                </script>
            </ul>
        </nav>
        <script>
            let nullItem = document.getElementById("nullItem");
            let navPage = document.getElementById("navPage");
            if (nullItem){
                navPage.classList.add("displayNone");
            }
        </script>
        <style>
            .displayNone{
                display: none;
            }
        </style>
    </div>
</div>

